.user_login{
	width:80%;
	padding: 0.0625rem;
	border: 0.0625rem solid #000000;
	background-color: #ffffff;
}
.user_login* {
	margin: 0;
	padding: 0;
	font: normal 0.75rem "宋体",Verdana, Geneva, Tahoma, sans-serif;
}
.user_login h3{
	height: 1.5rem;
	line-height: 1.5rem;
	font-weight: bold;
	text-align: center;
	background-color: #EEEEE8;
}
.user_login .content{
	padding: 0.3125rem;
}
.user_login .frm_cont{
	margin-bottom: 0.3125rem;
}
.user_login p{
	text-align: center;
	height: 1.2rem;
	margin-top: 0.50rem;
	margin-right: 4.38rem;
	font: normal 1.0rem "宋体",Verdana, Geneva, Tahoma, sans-serif;
}
.userName{
	text-align: center;
}
.userPsw{
	text-align: center;
	margin-left:0.6rem;
}
.validate{
	text-align: center;
}
.user_login .frm_cont lable{
	text-align: center;
	cursor:pointer ;
}
.user_login .userName input,.user_login .userPsw input,.user_login .validate input{
	width: 9.125rem;
	height: 1.2rem;
	padding: 0.1875rem 0.125rem 0;
	border: 0.0625rem solid #A9A98D;
}
.user_login.validate input{
	width: 2.25rem;
	text-align: center;
	margin-right: 0.32rem;
}
.user_login .keepLogin{
	text-align: center;
	padding-left: 0rem;
}
.user_login .btns {text-align: center;}
.user_login .btns button {
	height: 2.4rem;
	*vertical-align:-0.1875rem;
	cursor: pointer;
}
.user_login .btns button,.user_login .btns a{
	border:0.0625rem;
}
